export APP_NAME=taskly
export APP_ENVIRONMENT=local

export GO_IMG=taskly/golang:latest
export PSQL_IMG=taskly/postgres:latest

# Use the docker buildkit enhancements, see https://docs.docker.com/develop/develop-images/build_enhancements/
export DOCKER_BUILDKIT=1

# Changes to this file will be committed to version control. Use .envrc.local to override.
source_env_if_exists .envrc.local